    <h1 class="d-flex justify-content-center">Liste des courses</h1>

    <div class="card mx-auto" style="width: 40%;">
        <div class="d-grid gap-2">
            <%= link_to "Ajouter un article à acheter", new_todo_path, class: "btn btn-outline-secondary"%>
        </div>
    </div>

    <div class="card mx-auto" style="width: 40%;">
        <ul class="list-group list-group-flush">
            <% @todos.each do |todo| %>
                <li class="list-group-item d-flex justify-content-between">
                    <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">
                            <%= link_to todo.title, todo_path(todo.id), class: "btn btn-outline-dark"%>
                    </div>
                    <div class="">
                        <%= link_to "éditer", edit_todo_path(todo[:id]), class:"btn btn-warning"%>
                        <%= link_to "Supprimer", todo, method: :delete, data: { confirm: "Cette opération est irreversible" }, class: "btn btn-danger"%>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>